<div class="footer">
	<div class="footer-content">
		<div class="footer-column">
			<div class="ft-nav-list">
				<h3 class="ft-nav-tit">关于中诚</h3>
				<ul class="ft-nav-items">
					<li><a href="/gyzc?introduction">公司简介</a></li>
					<li><a href="/gyzc?speech">董事长致辞</a></li>
					<li><a href="/gyzc?leaders">公司领导</a></li>
					<li><a href="/gyzc?riskcontrol">公司风控</a></li>
					<li><a href="/gyzc?brand">品牌理念</a></li>
				</ul>
				<div class="more-btn">
					<a href="/gyzc">
						<i></i>
						<span>点击了解更多</span>
					</a>
				</div>
			</div>
		</div>
		<div class="footer-column">
			<div class="ft-nav-list">
				<h3 class="ft-nav-tit">中诚快报</h3>
				<ul class="ft-nav-items">
					<li><a href="/rdkb?client">客户活动</a></li>
					<li><a href="/rdkb?employee">员工活动</a></li>
					<li><a href="/rdkb?company">企业活动</a></li>
				</ul>
				<div class="more-btn">
					<a href="/rdkb">
						<i></i>
						<span>点击了解更多</span>
					</a>
				</div>
			</div>
		</div>
		<div class="footer-column">
			<div class="ft-nav-list">
				<h3 class="ft-nav-tit">专业中诚</h3>
				<ul class="ft-nav-items">
					<li><a href="/zyrd?client">客户活动</a></li>
					<li><a href="/zyrd?employee">员工活动</a></li>
					<li><a href="/zyrd?company">企业活动</a></li>
				</ul>
				<div class="more-btn">
					<a href="/zyrd">
						<i></i>
						<span>点击了解更多</span>
					</a>
				</div>
			</div>
		</div>
		<div class="footer-column">
			<div class="ft-nav-list">
				<h3 class="ft-nav-tit">责任中诚</h3>
				<ul class="ft-nav-items">
					<li><a href="/zrzc?client">客户活动</a></li>
					<li><a href="/zrzc?employee">员工活动</a></li>
					<li><a href="/zrzc?company">企业活动</a></li>
				</ul>
				<div class="more-btn">
					<a href="/zrzc">
						<i></i>
						<span>点击了解更多</span>
					</a>
				</div>
			</div>
		</div>
		<div class="footer-column">
			<div class="ft-nav-list">
				<h3 class="ft-nav-tit">媒体中心</h3>
				<ul class="ft-nav-items">
					<li><a href="/mtzx?client">客户活动</a></li>
					<li><a href="/mtzx?employee">员工活动</a></li>
					<li><a href="/mtzx?company">企业活动</a></li>
				</ul>
				<div class="more-btn">
					<a href="/mtzx">
						<i></i>
						<span>点击了解更多</span>
					</a>
				</div>
			</div>
		</div>
		<div class="footer-row contact">
			<h3 class="contact-tit">联系我们</h3>

			<p>财富热线：</p>
			<p>公司地址：北京市丰台区南四环186号汉威国际广场三区6号楼二层202</p>

			<div class="social-medias">
				<div class="social-media">微博</div>
				<div class="social-media">微信</div>
			</div>
		</div>
	</div>

	<div class="footer-btm">
		<span class="bottom-logo"></span>
		<a class="company-record" href="http://www.miitbeian.gov.cn">京ICP备18044520号</a>
		<p class="pic-from">图片来源网络 如有侵权 请联系删除</p>
	</div>
</div>