<header class="header">
	<div class="topnav-wrap">
		<div class="topnav">
			<div class="top-logo">
				<a href="/"></a>
			</div>
			<ul class="navlist">
				<li>
					<a href="/gyzc">
						<div class="nav-btn-tit">关于中诚</div>
						<i class="nav-btn-bg"></i>
					</a>
				</li>
				<li>
					<a href="/rdkb">
						<div class="nav-btn-tit">中诚快报</div>
						<i class="nav-btn-bg"></i>
					</a>
				</li>
				<li>
					<a href="/zyrd">
						<div class="nav-btn-tit">专业中诚</div>
						<i class="nav-btn-bg"></i>
					</a>
				</li>
				<li>
					<a href="/zrzc">
						<div class="nav-btn-tit">责任中诚</div>
						<i class="nav-btn-bg"></i>
					</a>
				</li>
				<li>
					<a href="/mtzx">
						<div class="nav-btn-tit">媒体中心</div>
						<i class="nav-btn-bg"></i>
					</a>
				</li>
				<li>
					<a href="/jrrd">
						<div class="nav-btn-tit">加入中诚</div>
						<i class="nav-btn-bg"></i>
					</a>
				</li>
				<li>
					<a href="/jqxm">
						<div class="nav-btn-tit">近期项目</div>
						<i class="nav-btn-bg"></i>
					</a>
				</li>
			</ul>
		</div>
		<div class="topnav-bg">
			
		</div>
	</div>

	<div class="nav-content-wrap">
		<div class="nav-content">
			<div class="nav-content-bg">
				<img src="./assets/images/nav0.jpg" alt="">
			</div>
			<div class="nav-content-list">
				<p class="nav-content-ls-tit">关于中诚</p>
				<ul class="nav-cont-items">
					<li class="nav-cont-item">
						<p>
							<a href="/gyzc?speech">
								<i></i>
								<span>董事长致辞</span>
							</a>
						</p>
					</li>
					<li class="nav-cont-item">
						<p>
							<a href="/gyzc?introduction">
								<i></i>
								<span>公司简介</span>
							</a>
						</p>
					</li>
					<li class="nav-cont-item">
						<p>
							<a href="/gyzc?leaders">
								<i></i>
								<span>公司领导</span>
							</a>
						</p>
					</li>
					<li class="nav-cont-item">
						<p>
							<a href="/gyzc?riskcontrol">
								<i></i>
								<span>公司风控</span>
							</a>
						</p>
					</li>
					<li class="nav-cont-item">
						<p>
							<a href="/gyzc?brand">
								<i></i>
								<span>品牌理念</span>
							</a>
						</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="nav-content">
			<div class="nav-content-bg">
				<img src="./assets/images/nav1.jpg" alt="">
			</div>
			<div class="nav-content-list">
				<p class="nav-content-ls-tit">中诚快报</p>
				<ul class="nav-cont-items">
					<li class="nav-cont-item">
						<p>
							<a href="/rdkb?client">
								<i></i>
								<span>客户活动</span>
							</a>
						</p>
					</li>
					<li class="nav-cont-item">
						<p>
							<a href="/rdkb?employee">
								<i></i>
								<span>员工活动</span>
							</a>
						</p>
					</li>
					<li class="nav-cont-item">
						<p>
							<a href="/rdkb?company">
								<i></i>
								<span>企业活动</span>
							</a>
						</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="nav-content">
			<div class="nav-content-bg">
				<img src="./assets/images/nav2.jpg" alt="">
			</div>
			<div class="nav-content-list">
				<p class="nav-content-ls-tit">专业中诚</p>
				<ul class="nav-cont-items">
					<li class="nav-cont-item">
						<p>
							<a href="/zrzc?client">
								<i></i>
								<span>客户活动</span>
							</a>
						</p>
					</li>
					<li class="nav-cont-item">
						<p>
							<a href="/zrzc?employee">
								<i></i>
								<span>员工活动</span>
							</a>
						</p>
					</li>
					<li class="nav-cont-item">
						<p>
							<a href="/zrzc?company">
								<i></i>
								<span>企业活动</span>
							</a>
						</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="nav-content">
			<div class="nav-content-bg">
				<img src="./assets/images/nav3.jpg" alt="">
			</div>
			<div class="nav-content-list">
				<p class="nav-content-ls-tit">责任中诚</p>
				<ul class="nav-cont-items">
					<li class="nav-cont-item">
						<p>
							<a href="/zrzc?client">
								<i></i>
								<span>客户活动</span>
							</a>
						</p>
					</li>
					<li class="nav-cont-item">
						<p>
							<a href="/zrzc?employee">
								<i></i>
								<span>员工活动</span>
							</a>
						</p>
					</li>
					<li class="nav-cont-item">
						<p>
							<a href="/zrzc?company">
								<i></i>
								<span>企业活动</span>
							</a>
						</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="nav-content">
			<div class="nav-content-bg">
				<img src="./assets/images/nav2.jpg" alt="">
			</div>
			<div class="nav-content-list">
				<p class="nav-content-ls-tit">媒体中心</p>
				<ul class="nav-cont-items">
					<li class="nav-cont-item">
						<p>
							<a href="/mtzx?client">
								<i></i>
								<span>客户活动</span>
							</a>
						</p>
					</li>
					<li class="nav-cont-item">
						<p>
							<a href="/mtzx?employee">
								<i></i>
								<span>员工活动</span>
							</a>
						</p>
					</li>
					<li class="nav-cont-item">
						<p>
							<a href="/mtzx?company">
								<i></i>
								<span>企业活动</span>
							</a>
						</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="nav-content empty">加入中诚</div>
		<div class="nav-content">
			<div class="nav-content-bg">
				<img src="./assets/images/nav6.jpg" alt="">
			</div>
			<div class="nav-content-list">
				<p class="nav-content-ls-tit">近期项目</p>
				<ul class="nav-cont-items">
					<li class="nav-cont-item">
						<p>
							<a href="/jqxm?supplychain">
								<i></i>
								<span>中国蓝田应收账款质押项目</span>
							</a>
						</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
</header>