<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>关于中诚</title>
		<link rel="stylesheet" href="./assets/css/reset.css">
		<link rel="stylesheet" href="./assets/css/page.css">
	</head>
	<body>
		{{> header}}

		<div class="body gyzc">
			<div class="page">
				<h1 class="page-title">关于中诚</h1>

				<div class="page-main">
					<div class="side-bar">
						<h3>关于中诚</h3>

						<ul class="side-nav">
							<li class="side-nav-item speech active"><a>董事长致辞</a></li>
							<li class="side-nav-item introduction"><a>公司简介</a></li>
							<li class="side-nav-item leaders"><a>公司领导</a></li>
							<li class="side-nav-item riskcontrol"><a>公司风控</a></li>
							<li class="side-nav-item brand"><a>品牌理念</a></li>
						</ul>
					</div>

					<ul class="side-nav-conts">
						<li class="side-nav-content speech active">
							<h3>董事长致辞</h3>

							<p class="cont-text">
								中小企业是一个国家创新动力的不竭源泉，服务中小企业发展即为培育一国经济增长后劲服务。由于体制等多方面原因，长期以来，中小企业受困于金融资源匮乏，融资困难，发展举步维艰。
中诚国钰因时而生、顺势而为，以正合，以奇胜，专注于为中小企业提供融资服务，做中小企业发展的助推器，在服务中小企业发展的同时，实现自身价值，成为一家值得信赖、受人尊敬的类金融控股公司。善待每一位员工，注重每一个员工专业能力的培养和发展，珍视每一个客户，努力保障每一位客户的资产稳健和持续增长，力图以最质朴，最诚挚的服务向广大投资者传递我们独立而专业，客观又公正的服务精神。
我们坚信为客户创造价值是企业安身立命之本。
							</p>
						</li>
						<li class="side-nav-content introduction">
							<h3>公司简介</h3>

							<p class="cont-text">
								中诚国钰企业管理有限公司
中诚国钰企业管理（北京）有限公司（简称：中诚国钰），成立于2016年，致力于以供应链整体解决方案和大数据风控技术为基础，为企业提供简单高效、优质完善的供应链管理与信息服务，为客户创造稳健的财富增值。
中诚国钰设立伊始便深耕于企业供应链管理，立足交易场景化生态建设，打造科技创新型企业管理服务。成立至今，中诚国钰已陆续与多个大型国资背景企业建立战略合作关系，通过“互联网+”、大数据化运营模式，打造一站式企业供应链整合服务，全力满足客户多元化的服务需求。
中诚国钰企业供应链管理服务，主要针对大型国资背景的上下游供应商，通过长期合作，利用我们对供应商掌握的相关数据信息以及风控措施，为供应商提供优质完善的供应链管理服务，解决包含运营资金在内的一系列问题。
							</p>
						</li>
						<li class="side-nav-content leaders">
							<h3>公司领导</h3>

							<p class="cont-text">
								创业初期为方便，服务大众，实施扁平化管理，为提高一线员工积极性，有特定提拔任举体质。
							</p>
						</li>
						<li class="side-nav-content riskcontrol">
							<h3>公司风控</h3>

							<p class="cont-text">
								1. 对业务人员进行合规培训，针对客户承受风险类型，指导业务人员定期对客户做出风险评估及相关匹配产品服务；
2. 协助银行金融机构对接项目方，出具项目方风控意见书，定期在中诚国钰网站对项目方作出信息披露。
3.根据监管部门相关指导文件，撰写并落实执行合规制度、风控制度；
							</p>
						</li>
						<li class="side-nav-content brand">
							<h3>品牌理念</h3>

							<p class="cont-text">
								坚守“国中之钰·至诚为人”的经营理念，开拓创新、锐意进取，紧紧跟时代潮流，力图以最质朴，最诚挚的服务向广大投资者传递我们独立而专业，客观又公正的服务精神。。
未来，将继续致力于供应链领域，造就客户与员工持久共赢的伟大梦想而不懈努力。
							</p>
						</li>
					</ul>
				</div>	
			</div>
		</div>

		{{> footer}}

		<script type="text/javascript" src="./assets/libs/jquery.min.js"></script>
		<script type="text/javascript" src="./assets/js/common.js"></script>
		<script type="text/javascript" src="./assets/js/page.js"></script>
	</body>
</html>