<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>近期项目</title>
		<link rel="stylesheet" href="./assets/css/reset.css">
		<link rel="stylesheet" href="./assets/css/page.css">
	</head>
	<body>
		{{> header}}

		<div class="body jqxm">
			<div class="page">
				<h1 class="page-title">近期项目</h1>

				<div class="page-main">
					<div class="side-bar">
						<h3>近期项目</h3>

						<ul class="side-nav">
							<li class="side-nav-item supplychain active"><a>国钰供应链管理</a></li>
							<li class="side-nav-item staytuned"><a>敬请期待</a></li>
						</ul>
					</div>

					<ul class="side-nav-conts">
						<li class="side-nav-content supplychain active">
							<h3>国钰供应链管理—中国蓝田应收账款质押项目</h3>

							<p class="cont-text">
								产品亮点
1、应收账款权益质押通过中国人民银行征信中心动产融资统一登记系统确权登记。
2、中国蓝田总公司委托中诚国钰进行供应链管理，对项目授权认证。
3、蓝田置业将电子商业承兑汇票背书转让于中诚国钰供应链管理平台。相当于提前足额清偿出资人资金本息。
4、中诚国钰供应链管理平台合规稳健发展，获中信文旅基金和光明传媒股份高度认可，并达成战略合作协议。
5、多元化风控措施，专项账户多方监管，周期性投后管理，进一步保障资金安全。
6、公司以“专业、合规、创新”为理念，通过资深专业的风控、法务、审计团队，为企业、金融机构及高净值客户提供稳定、安全、优质的服务。
7、预期年化收益率最高13% (预测收益不等于实际收益，以实际收益为准。)
预测收益
<img src="./assets/images/earning.jpeg" />

							</p>
						</li>
						<li class="side-nav-content staytuned">
							<h3>产品正在基金协会备案期间，敬请期待……</h3>

							<p class="cont-text"></p>
						</li>
					</ul>
				</div>	
			</div>
		</div>

		{{> footer}}
		
		<script type="text/javascript" src="./assets/libs/jquery.min.js"></script>
		<script type="text/javascript" src="./assets/js/common.js"></script>
		<script type="text/javascript" src="./assets/js/page.js"></script>
	</body>
</html>