<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>专业中诚</title>
		<link rel="stylesheet" href="./assets/css/reset.css">
		<link rel="stylesheet" href="./assets/css/page.css">
	</head>
	<body>
		{{> header}}

		<div class="body zyrd">
			<div class="page">
				<h1 class="page-title">专业中诚</h1>

				<div class="page-main">
					<div class="side-bar">
						<h3>专业中诚</h3>

						<ul class="side-nav">
							<li class="side-nav-item client active"><a>客户活动</a></li>
							<li class="side-nav-item employee"><a>员工活动</a></li>
							<li class="side-nav-item company"><a>企业活动</a></li>
						</ul>
					</div>

					<ul class="side-nav-conts">
						<li class="side-nav-content client active">
							<h3>客户活动</h3>

							<p class="cont-text">
								公司拟参照市场标杆企业，将陆续推出适合不同年龄、不同层级的相关活动，如：与中国证券报联合组织的基金行业高管会议出游，一来了解我司从事行业新资讯，二来与我司同行业高管进行友好交流。
							</p>
						</li>
						<li class="side-nav-content employee">
							<h3>员工活动</h3>

							<p class="cont-text">
								公司成立初期，积极组织相关公益活动，如：由董事长号召全体员工一并参与“日行一善”等活动。
							</p>
						</li>
						<li class="side-nav-content company">
							<h3>企业活动</h3>

							<p class="cont-text">
								公司成立初期，与多家国企、上市公司、优秀团队，合作召开“供应链”等讲座。
							</p>
						</li>
					</ul>
				</div>	
			</div>
		</div>

		{{> footer}}

		<script type="text/javascript" src="./assets/libs/jquery.min.js"></script>
		<script type="text/javascript" src="./assets/js/common.js"></script>
		<script type="text/javascript" src="./assets/js/page.js"></script>
	</body>
</html>